<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Hello</h1>
<div class="order-container">
    <div class="order-card" th:each="order: ${orders}">
        <h3 th:text="${order.orderID}"></h3>
        <p th:text="${order.customerID}"></p>
        <p th:text="${order.productID}"></p>
        <p th:text="${order.orderDate}"></p>
        <p th:text="${order.shipping_TypeID}"></p>
        <!-- Add more details if u want-->
    </div>
</div>


</body>
</html>